html{
    font-size: 14px;
}



#top-nav > div{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

body {
    background-color: brown;
}


.imagess{
    width: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    
}

img{
    height: 200px;
    flex-direction: top, left;
    
}

.atc {
    background-color: white;
    width: calc(33.3% - 20px);
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px;

}

.infophoto {
	display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 750px;
    margin : auto; 
    

}

.ajout{
    margin-bottom: 0%;
    margin-top: auto;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    text-align: center;
    padding: 1rem;

}

.prix{
    margin-top: auto;
    background-color: black;
    color: blanchedalmond;
    text-align: right;

}



